{% extends 'main/base.html' %}

{% block title %}Создать статью{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="article-form">
        <h2 class="heading-form">Создание статьи</h2>

        {% if user.is_authenticated %}

        <form class="form" method="post">
            {% csrf_token %}
            <p class="article-label">Название статьи:</p>
            <p class="article-title">{{ form.title }}</p>
            <p class="article-label">Контент статьи:</p>
            <p class="article-text">{{ form.body }}</p>
            <div class="btn-left">
                <a class="button btn-back" href="{% url 'main:person' %}">Вернуться</a>
                <button class="button btn-article" type="submit">Добавить</button>
            </div>
        </form>

        {% else %}
        <p>Только авторизованные пользователи могут создавать статьи</p>
        {% endif %}
    </div>

</div>

{% endblock content %}