{% extends 'main/base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}

    <div class="wrapper wrapper-form">



        <div class="frame-form">
            <h2 class="heading-form">Авторизация</h2>
            <form class="login-form" method="post">
                {% csrf_token %}
                <div class="field">
                    <p class="field-label">{{ form.username.label_tag }}</p>
                    <p class="field-name">{{ form.username }}</p>
                </div>
                <div class="field">
                    <p class="field-label">{{ form.password.label_tag }}</p>
                    <p class="field-name">{{ form.password }}</p>
                    {% if form.errors %}
                        <p class="field-errors">Your username and password didn't match. Please try again.</p>
                    {% endif %}
                </div>

                <div class="btn-center">
                    <button class="button btn-login" type="submit">Войти</button>
                </div>
            </form>
         </div>
    </div>

{% endblock content %}