{% extends 'main/base.html' %}

{% block title %}Личная страница{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="page-personal">
        <div class="personal-head">
            <h2 class="heading pers-h2">Мои публикации</h2>
            <a class="button btn-person" href="{% url 'main:create' %}">Добавить статью</a>
        </div>
        <div class="table-pub">
        {% if publications %}
            {% for pub in publications %}
                <div class="person-pub">
                    <div class="grow-1"><a href="{% url 'main:detail' pub.id %}">{{ pub.title }}</a></div>
                    <div class="edit-delete">
                        <div class="grow-2"><a class="button-2 btn-grow-2" href="{% url 'main:post_edit' pub.id %}">+
                            Редактировать</a></div>
                        <div class="grow-3"><a class="button-2 btn-grow-3" href="{% url 'main:post_delete' pub.id %}">+
                            Удалить</a></div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <p>Публикаций нет</p>
        {% endif%}
        </div>
    </div>
</div>

{% endblock content %}